/* ------------------------------------------------------------------------- */
/*                                                                           */
/*                           Desktop Styling                                 */
/*                                                                           */
/* ------------------------------------------------------------------------- */

/* Entire Document */

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu3cOWxw.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/* Header */

header {
  background: rgb(3, 39, 101);
  color: white;
  position: fixed;
  z-index: 1000;
  height: 50px;
  width: 100%;
  font-size: 11pt;
  padding: .2em;
  cursor: default;
}

.header-logo {
  height: 30px;
  margin: .5em 0 .25em 2em;
  display: inline-block;
}

.header-links {
  display: inline-block;
  margin: 1em;
  float: right;
}

.header-links a{
  margin: 0 1em;
}

.menu-icon{
  display: none;
}

/* Nav Bar */

nav {
  background: white;
  position: fixed;
  top: 50px;
  z-index: 1000;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  cursor: default;
}

.nav-links {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em;
  display: inline-block;
}

.nav-links a {
  margin: 0 1em;
}

.search {
  float: right;
  display: inline-block;
  margin: .7em;
}

.search input {
  border-radius: 1.5em;
  border: 1px solid rgb(223, 223, 223);
  padding: .5em 1.5em;
  width: 20em;
  font-size: 10pt;
  cursor: default;
}

.search img {
  position: absolute;
  right: 28px;
  top: 18px;
}

/* Main Content */

.main-content {
  padding-top: 110px;
  text-align: center;
  margin: 0 1em;
}

article {
  padding: 1em;
  margin: .5em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}

#carousel-container {
  margin: 0 0 0 2%;
}

#details-container {
  width: 35%;
  float: right;
}

#description-container {
  margin: 0 0 0 10%;
  float: left;
  width: 574px;
}

#similar {
  width: 90%;
}

/* Footer */

footer {
  background: rgb(39, 45, 57);
  color: white;
  font-size: 9pt;
  text-align: center;
  padding-top: 3em;
  cursor: default;
}

.footer-column {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.footer-column div{
  margin: 2em;
}

.footer-column-two {
  font-weight: bold;
  text-transform: uppercase;
}

.footer-column-four {
  padding-top: 1em;
}

.footer-column img{
  height: 40px;
  padding: .5em 0;
  display: block;
}

.footer-social {
  width: 80%;
  border-top: 1px solid rgb(90, 90, 90);
  display: inline-block;
  padding: 2.5em;
}

.footer-social img {
  padding: 1em;
}

.footer-text {
  padding: 0em 0 4em 0;
}

/* ------------------------------------------------------------------------- */
/*                                                                           */
/*                            Mobile Styling                                 */
/*                                                                           */
/* ------------------------------------------------------------------------- */


/* @media screen and (max-width: 979px) { */
@media screen and (max-width: 1020px) {
  #details-container {
    width: 100%;
    float: none;
  }

  nav {
    display: none;
  }

  header {
    text-align: center;
  }

  .header-links{
    display: none;
  }

  .header-logo {
    margin: .5em 0 0 0;
  }

  #description-container {
    width: 100%;
  }

  .menu-icon{
    display: inline-block;
    float: left;
    margin: .5em;
  }
}

/* ------------------------------------------------------------------------- */
/*                                                                           */
/*                         Component Restyling                               */
/*                                                                           */
/* ------------------------------------------------------------------------- */

/* These style rules overwrite styles  on components and are very likely to change and become irrelevant */

#similar {
  overflow: scroll;
}

.details {
  display: inline;
}